body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0000;
    color: #E11680;
}

.main {
    padding: 20px;
}

.formularioCont {
    margin: 40px auto;
    max-width: 600px;
    padding: 20px;
    border: 3px solid #E1160d;
    border-radius: 10px;
}

.tituloFormulario {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}

input[type="text"],
input[type="number"],
textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E1160d;
}

.error {
    color: red;
    font-size: 14px;
}

button {
    background-color: #E11680;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #E1160d;
    color: white;
    border-bottom: 2px solid #E1160d;
}

.boton-inicio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button1 {
  background-color: #E11680;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none; 
  font-size: 16px;
}

.button1:hover {
  background-color: #E1160d;
  border-bottom: 2px solid #E1160d;
}