.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: transparent; 
}

.logo img {
    padding: 10px;
    border: none;
    border-radius: 5%;
    max-width: 100px;
}

.menu-container .navbar ul li {
    position: relative;
    float: left;
    padding-bottom: 10px;
}

.menu-container .navbar ul li a {
    display: block;
    color: #E11680;; 
    font-size: 18px;
    padding: 20px;
}

.menu-container .navbar ul li a:hover {
    color: #E1160d;
    border-bottom: 1px solid #E1160d;
}

/* Ocultar el menu amburguesa*/

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
    display: none;
    cursor: pointer;
}

/* carrusel */
.carrusel {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
}

.imagenes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    margin: 0;
    display: block;
}


/*botones*/
.atras,
.adelante {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #E11680;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.atras:hover,
.adelante:hover {
    background-color: #A70A15;
    transform: translateY(-50%) scale(1.2);
}

.atras {
    left: 15px;
}

.adelante {
    right: 20px;
}


.atras svg,
.adelante svg {
    width: 24px;
    height: 24px;
    transition: background-color 0.3s ease;
}

/* fin de carrusel */

/*----------------------------------------------------------------------------------------------------------------*/

/* Tienda*/
/* seccion oferta */
.gym {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    gap: 50px;
}

.gym-1 {
    width: 50%;
    padding-right: 150px;
}

.gym-1 h2 {
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.gym-1 p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 35px;
}

.gym-1 span {
    color: #A70A15;
}

.btn-2 {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #E11680;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-2:hover {
    background-color: #A70A15;
}

.img-1,
.img-2,
.img-3 {
    width: 250px;
    margin-right: 20px;
}

/* seccion oferta */
.footer {
    background-color: 000;
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
}

.footer img {
    padding: 10px;
    width: fit-content;
}

.footer a {
    display: block;
    color: #000;
    font-size: 18px;
    padding: 10px;

}

.footer a:hover {
    color: #E1160d;
    border-bottom: 1px solid #E1160d;
}

/* fin de Tienda*/

/*----------------------------------------------------------------------------------------------------------------*/






