.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden; /*no sobresale el carrusel*/
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: #f0f8ff;
    border-bottom: 1px solid #FFFFFF29;
}

.logo img {
    padding: 10px;
    border: none;
    border-radius: 5%;
    max-width: 100px;
}

.menu-container .navbar ul li {
    position: relative;
    float: left;
    padding-bottom: 10px;
}

.menu-container .navbar ul li a {
    display: block;
    color: #000;
    font-size: 18px;
    padding: 20px;
}

.menu-container .navbar ul li a:hover {
    color: #E1160d;
    border-bottom: 1px solid #E1160d;
}

/* Ocultar el menu amburguesa*/

#menu {
    display: none;
}

.menu-icon {
    width: 25px;
    display: none;
    cursor: pointer;
}

.header-info h1 {

    color: #fadd8c;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: 0 0 20px #E1160d;
}

.header-info p {
    color: #FFFFFF;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.header-content{
    position: relative;
    z-index: 2;
}

/* seccion oferta */
.gym {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    gap: 50px;
}

.gym-1 {
    width: 50%;
    padding-right: 150px;
}

.gym-1 h2 {
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.gym-1 p {
    font-size: 16px;
    color: #818181;
    margin-bottom: 35px;
}

.gym-1 span {
    color: #A70A15;
}

.btn-2 {
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #E11680;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.btn-2:hover {
    background-color: #A70A15;
}

.img-1,
.img-2,
.img-3 {
    width: 250px;
    margin-right: 20px;
}

/* seccion oferta */
.footer {
    background-color: 000;
    display: flex;
    justify-content: space-evenly;
    margin: 0px auto;
}

.footer img {
    padding: 10px;
    width: fit-content;
}

.footer a {
    display: block;
    color: #000;
    font-size: 18px;
    padding: 10px;

}

.footer a:hover {
    color: #E1160d;
    border-bottom: 1px solid #E1160d;
}


/* carrusel */
.carousel-container {
   position: absolute;
   inset: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   background: transparent;
   z-index: 1;
}




.carusel-track{
display: flex;
justify-content: flex-start;
align-items: stretch;
height: 100%;
gap: 0;
transition: .5s ease-in-out;
}

.carrusel{
    flex: 0 0 100%;
    min-width: 100%;
    width: 100%;
}

.carrusel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carrusel-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #A70A15;
    border: none;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2 ease;
}

.carrusel-arrow:hover{
    opacity: 1;
}

.carrusel-prev{
    left:20px;
}

.carrusel-next{
    right:20px;
}

.carrusel-arrow svg{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}


